img {
    height: 60px;

}


.container-1 {
    display: flex;
    font-size: small;
    gap: 1rem;
}

.container-2 {

    align-content: center;
}

.grassetto {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.minuscolo {
    font-size: x-small;
}